.main-container {
  background-color: crimson;
  width: 1110px;
  height: 800px;
  margin: auto;
  display: flex;
  justify-content: space-between;
}

.side-panel-container {
  background-color: aquamarine;
  width: 420px;
  height: 100%;
  display: flex;
}

.main-menu-container {
  background-color: blueviolet;
  width: 650px;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.side-panel {
  background-color: yellowgreen;
  width: 100%;
  height: 760px;
}

.side-panel-section {
  background-color: brown;
  width: 100%;
  height: auto;
}

.side-panel-section-header {
  background-color: black;
  color: white;
  height: 24px;
}

.main-menu-container-section {
  background-color: darkgrey;
}

.main-menu-section-header {
  background-color: black;
  color: white;
  height: 24px;
}

footer {
  width: 1110px;
  height: 36px;
  background-color: darkkhaki;
  margin: auto;
}